@if (rendered_material_list().length == 0) {
  @if (search_value()) {
    <ion-content class="no-search-result">
      <span> No Results For "{{ search_value() }}" </span>
    </ion-content>
  }@else {
    <ion-content class="no-search-result">
      <span> No Results Found. </span>
    </ion-content>
  }
} @else {
  <ion-content>
    <ion-grid>
      <ion-row>
        @for (material of rendered_material_list(); track $index) {
          <ion-col size="6" size-md="4" size-lg="3">
            <ion-card
              class="ion-activatable ripple-parent"
              (click)="addMaterial(material)"
            >
              <ion-ripple-effect></ion-ripple-effect>
              <img [src]="material.material_image" />
              <ion-card-header>
                @for (unit of material.material_unit; track $index) {
                  @if (unit.material_unit_is_default) {
                    <ion-card-subtitle>{{ unit.unit_name }}</ion-card-subtitle>
                  }
                }
                <ion-card-title>{{ material.material_name }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-text color="primary"
                  >@for (unit of material.material_unit; track $index) {
                  @if (unit.material_unit_is_default) {
                    <ion-card-subtitle> {{getCurrencyCode(material.material_currency_id)}} {{ unit.default_price }}</ion-card-subtitle>
                  }
                }</ion-text
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-content>
}
