ion-grid {
    padding: 0;
    block-size: 100vh;
    overflow: hidden;

    ion-col {
        padding: 0;
    }
}

.checkout-div {
    ion-title {
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: 1.5em;
    }
}

.list-footer {
    block-size: fit-content;
    padding-block: 5px;

    ion-toolbar {
        block-size: 100%;
        inline-size: 100%;
    }
}

.category-list-container {
    block-size: 62px;
    .category-list {
        background: #e2e2e2;
        display: flex;
        gap: 20px;
        inline-size: 100%;
        overflow: scroll;
    }
}

.pay-btn div:first-child {
    block-size: 2.5em;
    font-size: 1.5em;
    // text-transform: none;
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total-currency {
        font-size: 1.5em;
    }
}

.total-amount {
    inline-size: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-end: 10px;

    ion-searchbar {
        inline-size: 70%;
    }

    span.mdi {
        font-size: 42px;
    }
}

.active-category {
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    text-decoration: underline;
}

.scroll-shadows {
    // max-block-size: 200px;
    overflow: auto;

    background:
        /* Shadow Cover left */
        linear-gradient(white 30%,
            rgba(255, 255, 255, 0)) center left,

        /* Shadow Cover right */
        linear-gradient(rgba(255, 255, 255, 0),
            white 70%) center right,

        /* Shadow left */
        radial-gradient(farthest-side at 50% 0,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)) center left,

        /* Shadow right */
        radial-gradient(farthest-side at 50% 100%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)) center right;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

@keyframes bannermoveleft {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-180px, 0);
    }
}

@keyframes bannermoveright {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(180px, 0);
    }
}